@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'FSEX300';
  src: url('../public/fonts/FSEX300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FSEX300', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'FSEX300', sans-serif;
}

.loading-dots {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  animation: dots 1s linear infinite;
}

/* Dölj laddningspunkter under skrivanimationen */
.dots-hidden {
  visibility: hidden; /* Dölj tills "typing" är klar */
  animation: show-dots 0s linear 2s forwards; /* Vänta till "typing" är klar (2s) och visa punkterna */
}

/* Nyckelbild för att visa punkterna */
@keyframes show-dots {
  to {
    visibility: visible;
  }
}

/* Animation för laddningspunkterna */
@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.typing-effect {
  display: inline-block;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  position: relative; /* Behövs för :after-positionering */

  /* Animera skrivning */
  width: 0; /* Börjar med ingen bredd */
  animation: typing 2s steps(12, end) forwards; /* Typing-animation för 12 tecken */
}

.typing-effect::after {
  content: ""; /* Skapar markören */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px; /* Markörens bredd */
  background-color: #34d399; /* Markörens färg */

  /* Blinkande markör */
  animation: blink 0.5s step-end infinite; /* Blinkande effekt */
}

/* Typing-animationen: En teckenskrivning i steg */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch; /* Längden av texten "INITIALIZING" */
  }
}

/* Blinkning av markör */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

.typing-heading {
  display: inline-block;
  font-family: 'FSEX300', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 0; /* Börjar med bredd = 0 */
  opacity: 0; /* Texten är osynlig från början */
  animation: typing-heading 4s steps(45, end) 0s forwards, fade-in 0s forwards;
}

.typing-heading-delayed {
  display: inline-block;
  font-family: 'FSEX300', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 0; /* Börjar med bredd = 0 */
  opacity: 0; /* Texten är osynlig från början */
  animation: typing-heading-delayed 4s steps(55, end) 4s forwards, fade-in 0s forwards;
}

/* Skrivmaskinseffekten */
@keyframes typing-heading {
  from {
    width: 0; /* Från bredd 0 – ingenting synligt */
    opacity: 1; /* Text blir synlig när bredd ökar */
  }
  to {
    width: 100%; /* Texten visas helt när bredd når 100% */
    opacity: 1; /* Förblir synlig */
  }
}

@keyframes typing-heading-delayed {
  from {
    width: 0; /* Från bredd 0 – ingenting synligt */
    opacity: 1; /* Text blir synlig när bredd ökar */
  }
  to {
    width: 100%; /* Texten visas helt när bredd når 100% */
    opacity: 1; /* Förblir synlig */
  }
}

/* Fade-in-effekten för att ta bort osynlighet */
@keyframes fade-in {
  from {
    opacity: 0; /* Startar osynlig */
  }
  to {
    opacity: 1; /* Blir synlig vid start */
  }
}

/* Scroll-bar för hela container */
.custom-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin; /* För Firefox */
  scrollbar-color: #29d499 #1a1a1a; /* För Firefox (thumb och track) */
}

/* Scrollbar för WebKit (Chrome, Edge och Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px; /* För horizontal scroll */
}

/* Thumb - själva scroll-rutan */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00ff77;
  border-radius: 6px;
  border: 3px solid #1a1a1a; /* Sätter en marginal runt 'thumb' */
}

/* Track - bakgrunden till scroll-baren */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Track när det är hover */
.custom-scrollbar::-webkit-scrollbar-track:hover {
  background: #333333;
}





