@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'FSEX300';
  src: url('../public/fonts/FSEX300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FSEX300', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'FSEX300', sans-serif;
}

.loading-dots {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: theme('colors.emerald.300');
}

.loading-dots::after {
  content: "";
  animation: dot-animation 1.6s steps(4, end) infinite;
}

@keyframes dot-animation {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
