@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'FSEX300';
  src: url('../public/fonts/FSEX300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FSEX300', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'FSEX300', sans-serif;
}

.loading-dots {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  animation: dots 1s linear infinite;
}

/* Dölj laddningspunkter under skrivanimationen */
.dots-hidden {
  visibility: hidden; /* Dölj tills "typing" är klar */
  animation: show-dots 0s linear 2s forwards; /* Vänta till "typing" är klar (2s) och visa punkterna */
}

/* Nyckelbild för att visa punkterna */
@keyframes show-dots {
  to {
    visibility: visible;
  }
}

/* Animation för laddningspunkterna */
@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.typing-effect {
  display: inline-block;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  position: relative; /* Behövs för :after-positionering */

  /* Animera skrivning */
  width: 0; /* Börjar med ingen bredd */
  animation: typing 2s steps(12, end) forwards; /* Typing-animation för 12 tecken */
}

.typing-effect::after {
  content: ""; /* Skapar markören */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px; /* Markörens bredd */
  background-color: #34d399; /* Markörens färg */

  /* Blinkande markör */
  animation: blink 0.5s step-end infinite; /* Blinkande effekt */
}

/* Typing-animationen: En teckenskrivning i steg */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch; /* Längden av texten "INITIALIZING" */
  }
}

/* Blinkning av markör */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
